﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Giris.aspx.cs" Inherits="def.Giris" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Oto Galeri</title>

    <link href="/girisStil.css" rel="stylesheet" />
    <script src="js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        $("document").ready(function () {

            $("header nav ul li.konular-wrap").mouseover(function () {

                $("header nav ul li.konular-wrap .konular").css("display", "block")
            })

            $("header nav ul li.konular-wrap").mouseleave(function () {

                $("header nav ul li.konular-wrap .konular").css("display", "none")
            })
        })
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div id="wrapper">
    

        <header>

            <div class="logo">

                LOGO 
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="anasayfa.aspx"> Ana Sayfa </a>
                        
                    </li>
                    
                    <li class="konular-wrap">
                       <a href="#"> Satın al </a>
                        <div class="konular">
                            <ul>
                                <li> programlama</li>
                                <li> webprogramlama</li>
                                <li> dersyok</li>

                            </ul>

                        </div>
                    </li>
                    
                    <li>
                        <a href="anasayfa.aspx"> Kirala </a>
                    </li>
                </ul>

            </nav>

            </header>


        <br /><br /><br /><br />
        <center>
            <div class="icerik">  
          
                <span style="margin-left:auto"> Kullanıcı Adı:</span>
           <asp:TextBox ID="kuladi" CssClass="textbox" runat="server"></asp:TextBox>
            <br />
            <br />
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Şifre :</span>
            <asp:TextBox ID="kulSifre" CssClass="textbox1" runat="server"></asp:TextBox>
            <br />
            <br />
             <asp:Button ID="btnGiris" CssClass="btnKayit" runat="server" Text="Giriş yap"></asp:Button>

        </div></center>

        
    </div>
    </form>
</body>
</html>
