﻿
body {
    background-color:#d5d5d5;
    font-family:'Trebuchet MS' , Arial , 'Comic Sans MS';
   }

* {  margin: 0;
     padding:0;
     border:0;
}

a {
   text-decoration:none;
   color:#555;
}

a:hover {
        color:#999;
}

#wrapper {
     width:960px;
     height:auto;
     margin : 0 auto;
}

header {
    width:960px;
    height:45px;
    float:left;
    background-color:#fff;
}

header .logo {
    float:left;
    width:89px;
    height:45px;
    border-right:1px solid #ff0000;
    text-align:center;
    line-height:45px;
    color:#990000;
    }

    header nav {
    float:left;
    width:609px;
    height:45px;
    line-height:45px;
    }

   header nav ul {
        list-style:none;
        }

   header nav ul li{
       float:left;
       margin:0 10px;
       color:#555;
        }

    header nav ul li.konular-wrap {
    position:relative;
    }

    header nav ul li.konular-wrap .konular {
    display:none;
    position:absolute;
    width:auto;
    height:auto;
    background-color:#fff;    
        }

    .icerik {
       
       width:450px;
       height:350px;
       margin-top:45px;
       background-color:#fff;
}
.textbox {
background-color:#d5d5d5;
margin-top:100px;
width:150px;
height:30px;
}
.textbox1 {
    width:150px;
height:30px;
background-color:#d5d5d5;
margin-top:20px;
}

.btnKayit {
            width:150px;
            height:40px;
            line-height:40px;
            text-align:center;
            color:#fff;
            float:none;
            background-color:#0099cc;
            margin-top:35px;
            }