﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Kayit.aspx.cs" Inherits="def.Kayit" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Oto Galeri</title>

    <link href="/girisStil.css" rel="stylesheet" />


</head>
<body>
    <form id="form1" runat="server">
    <div id="wrapper">
    

        <header>

            <div class="logo">

                LOGO 
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="anasayfa.aspx"> Ana Sayfa </a>
                        
                    </li>
                    
                    <li class="konular-wrap">
                       <a href="#"> Satın al</a>
                      
                    </li>
                    
                    <li>
                        <a href="anasayfa.aspx"> Kirala </a>
                    </li>
                </ul>

            </nav>

            </header>


        <br /><br /><br /><br />
        <center>
            <div class="icerik">  
          
                <span style="margin-left:auto"> Kullanıcı Adı:</span>
           <asp:TextBox ID="kuladi" CssClass="textbox" runat="server"></asp:TextBox>
            <br />
            <br />
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Şifre :</span>
            <asp:TextBox ID="kulSifre" CssClass="textbox1" runat="server"></asp:TextBox>
            <br />
            <br />
             <asp:Button ID="btnKayit" CssClass="btnKayit" runat="server" Text="Kayıt ol"></asp:Button>

        </div></center>

        
    </div>
    </form>
</body>
</html>