﻿
body {
    background-color:#d5d5d5;
    font-family:'Trebuchet MS' , Arial , 'Comic Sans MS';
   }

* {  margin: 0;
     padding:0;
     border:0;
}

a {
   text-decoration:none;
   color:#555;
}

a:hover {
        color:#999;
}

#wrapper {
     width:960px;
     height:auto;
     margin : 0 auto;
}

header {
    width:960px;
    height:45px;
    float:left;
    background-color:#fff;
}

header .logo {
    float:left;
    width:89px;
    height:45px;
    border-right:1px solid #ff0000;
    text-align:center;
    line-height:45px;
    color:#990000;
    }

    header nav {
    float:left;
    width:609px;
    height:45px;
    line-height:45px;
    }

   header nav ul {
        list-style:none;
        }

   header nav ul li{
       float:left;
       margin:0 10px;
       color:#555;
        }

    header nav ul li.konular-wrap {
    position:relative;
    }

    header nav ul li.konular-wrap .konular {
    display:none;
    position:absolute;
    width:auto;
    height:auto;
    background-color:#fff;    
        }

    header .arama {
    float:left;
    width:260px;
    height:45px;
    }

        header .arama .aramaSol {
        float:left;
        width:130px;
        height:45px;
        
        }
        header .arama .aramaSol .btnGiris {
        
        float:left;
        width: 100px;
        height:30px;
        margin-top:7.5px;
        text-align:center;
        color:#fff;
        background-color:#0fd0e8;
        }

        header .arama .aramaSag{
        float:left;
        width:130px;
        height:45px;
        
        }
        header .arama .aramaSag .btnKayit1 {
        
        float:left;
        width: 100px;
        height:30px;
        margin-top:7.5px;
        text-align:center;
        color:#fff;
        background-color:#0fd0e8;
        }
    

    .banner {
        float:left;
        margin-top:45px;
        width:960px;
        height:260px;
        line-height:360px;
        text-align:center;
        font-size:56px;
        background-image:url('/İmages/LQGDRJ.jpg');
        background-size:cover;
        color:#fff;
}
    .sol {
        width:285px;
        float:left;
        height:800px;
        margin-top:45px;
    }

        .sol .hizli-kayit {
        float:left;
        width:285px;
        height:auto;
        }

        .sol .hizli-kayit .ust{
        float:left;
        width:270px;
        height:44px;
        line-height:44px;
        padding-left:15px;
        border-bottom: 1px solid #ccc;
        background-color:#fff;
        color:#555;
        }
            
        .sol .hizli-kayit .alt {
        float:left;
        width:250px;
        padding: 17.5px;
        height:720px;
        border-bottom: 1px solid #ccc;
        background-color:#fff;
        color:#555;
                }

.textbox {
background-color:#d5d5d5;
width:45px;
height:20px;
}

.sol .hizli-kayit .alt .btnKayit {
            width:110px;
            height:30px;
            line-height:30px;
            text-align:center;
            color:#fff;
            float:none;
            background-color:#0099cc;
            margin-top:10px;
            }
     

    .icerik {
       float:right;
       width:625px;
       height:800px;
       margin-top:45px;
       background-color:#fff;
}

        
    footer{ 
        float:left;
        width:100%;
        height:60px;
        margin-top:45px;
        background-color:#fff;
        text-align:center;
        line-height:60px;
        color:#555;
}